.about {
    margin-bottom: 150px;
    .intro {
        // background-image: url("../../images/Bg3.png");
        // background-repeat: no-repeat;
        // background-size: cover;
        // position: relative;
        width: 100%;
        margin-bottom: 86px;
        position: relative;
        .bg-img {
            width: 100%;
            height: 100%;
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
        h1 {
            color: var(--foundation-logo-shades-logo-shades-100, #ece4d1);
            text-align: center;
            max-width: 287px;
            width: 100%;
            margin: auto;
            /* EN-Display Medium */

          
            font-size: 45px;
            font-style: normal;
            font-weight: 500;
            line-height: 52px; /* 115.556% */
            border: 1px solid var(--foundation-logo-shades-logo-shades-600, #b09860);
            padding: 25px 30px;
        }
        .sm-scr {
            display: none;
        }
        .intro-in {
            width: 100%;
            padding: 306px 157px 200px;
            position: relative;
            z-index: 100;
        }

        .image {
            bottom: -48px;
            position: absolute;
            width: 100%;
            height: 89px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .event-desc {
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        padding: 25px 160px 43px;
        .desc-left {
            width: 49%;
            h2 {
                color: var(--foundation-logo-shades-logo-shades-700, #89774b);
                text-align: start;
                /* EN-Display Medium */
              
                font-size: 45px;
                font-style: normal;
                font-weight: 500;
                margin-bottom: 30px;
                line-height: 52px; /* 115.556% */
            }
            p {
                color: var(--foundation-logo-shades-logo-shades-700, #89774b);
                text-align: start;
                /* EN-Headline Small */
              
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 133.333% */
            }
        }

        .desc-right {
            width: 49%;
            height: 390px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .desc-imgs {
            display: flex;
            justify-content: center;
            gap: 32px;

            img {
                height: 390px;
                width: 48.5%;
            }
        }



    }

.sec-4{
display: flex;
justify-content: center;
align-items: center;
margin: 75px 0;
flex-direction: column;
position: relative;

.swiper-button-next,
.swiper-button-prev {
    display: none;
}


.ChevronRight , .ChevronLeft{
   background-color: transparent;
 
 svg{
    font-size: 33px;
    color: #B09860;
 }
}


h2{
    color: var(--foundation-logo-shades-logo-shades-700, #89774B);
    text-align: center;
font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: 52px; /* 115.556% */
margin: 34px 0;
}
    .about-mySwiper{
margin:  30px;
width: 544px;

.swiper-slide{
    width: 100%;
}
.box{
    width: 100%;


.image{
    width: 100%;
    height: 390px;
    img{
        height: 100%;
        width: 100%;
    }
}

.inner{
    margin-top: 30px;
    background: var(--foundation-logo-shades-logo-shades-50, #F9F6F0);
    padding: 20px;
   h5{
    color: var(--foundation-logo-shades-logo-shades-700, #89774B);
    text-align: start;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
width: calc(100% - 40px);
   }
span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 21px;
    color: var(--foundation-logo-shades-logo-shades-700, #89774B);
    cursor: pointer;
}
p{
    color: var(--foundation-logo-shades-logo-shades-700, #89774B);
margin-top: 18px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.1px;
}
}
}


    }



}
.about-desc{
    .desc-right{
        max-width:534px;
    }
}

}




@media (max-width: 1024px) {
.about{
    .sec-4{
        h2{
            color: var(--foundation-logo-shades-logo-shades-700, #89774B);

         
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px; /* 122.222% */
        }
        .about-mySwiper{
            width: 436px;
        }
        
.image{
  
    height: 312px;
  
}



.inner{
    margin-top: 26x;
  h5{
    color: var(--foundation-logo-shades-logo-shades-700, #89774B);

font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
  }
  p{
    color: var(--foundation-logo-shades-logo-shades-700, #89774B);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.1px;
  }
}
    }
}


}

@media (max-width: 786px) {
    .about {
        .intro {
            margin-bottom: 40px;
            .intro-in {
                padding: 200px 57px 200px;
            }
            h1{
                padding: 8px 10px;
            }
        }
        .about-desc{
            flex-direction: column-reverse !important;
            .desc-left,.desc-right {

                width: 100%;
              
            }
           
        }
        .event-desc {
            padding: 40px 16px;
            .desc-right{
                height: 214px !important;
               
                gap:15px;
            }
           .desc-imgs{ img{
                
                    height: 214px !important;
            }}
            .desc-left {
                h2 {
                    color: var(--foundation-logo-shades-logo-shades-700, #89774b);

                    /* EN-Title Large */
                  
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px; /* 127.273% */
                }
                p {
                    color: var(--foundation-logo-shades-logo-shades-700, #89774b);

                    /* EN-Label Medium */
                  
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px; /* 133.333% */
                    letter-spacing: 0.5px;
                }
            }

            .img-left {
                max-width: 87px;
            }
        .event-desc {
           
            padding: 70px 40px 12px;
            .desc-left,
            .desc-right {
                width: 100%;
            }
            .desc-right {
                display: flex;
                justify-content: center;
                gap: 16px;
                align-items: center;
            }
            img {
                width: 100%;
                max-width: 400px;
                height: 147px !important;
            }
            .img-left {
                display: block !important;
                max-width: 150px;
            }
        }
      
    }
   
}
}
@media (max-width: 430px) {
    .about {
        .intro {
            height: 350px;

            .bg-scr {
                display: none;
            }
            .sm-scr {
                display: block;
                position: absolute;
                top: 50%;
                left: 60%;
                transform: translate(-50%, -50%);
                width: 171px;
                padding: 12px 26px;
                color: var(--foundation-logo-shades-logo-shades-100, #ece4d1);
                text-align: center;
                /*EN-HeadlineSmall*/
              
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                /*133.333%*/
                -moz-transform: translate(-50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
            }
            .image {
                height: 70px;
                bottom: -38px;
            }
        }
        .event-desc {
            padding: 40px 16px;

            .desc-left {
                h2 {
                    color: var(--foundation-logo-shades-logo-shades-700, #89774b);

                    /* EN-Title Large */
                  
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px; /* 127.273% */
                }
                p {
                    color: var(--foundation-logo-shades-logo-shades-700, #89774b);

                    /* EN-Label Medium */
                  
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px; /* 133.333% */
                    letter-spacing: 0.5px;
                }
            }

            .img-left {
                max-width: 87px;
            }
        }
        .sec-4{
            h2{
                color: var(--foundation-logo-shades-logo-shades-700, #89774B);
    
             
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: 44px; /* 122.222% */
            }
            .about-mySwiper{
                width: 389px;
                margin: 16px;
                .box .image{
                    height:286px;
                }
            }
            
    .image{
      
        height: 286px;
      
    }
    
    
    
    .inner{
        margin-top: 26px;
        span{
            font-size: 16px;
        }
      h5{
        color: var(--foundation-logo-shades-logo-shades-700, #89774B);

        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
      }
      p{
        color: var(--foundation-logo-shades-logo-shades-700, #89774B);

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
      }
    }


    
.ChevronRight , .ChevronLeft{
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
   font-size: 23px;
   display: block;
color: #B09860;
}
.swiper-button-disabled{
   opacity: .5;
}
        }
    }
}




@media (max-width: 405px) {
    .about{
        .sec-4{
            h2{
                color: var(--foundation-logo-shades-logo-shades-700, #89774B);
    
             
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: 44px; /* 122.222% */
            }
            .about-mySwiper{
                width: 336px;

            }
            
    
    
    
        }
    }
    
    
    }


