.about {
    .intro {
        // background-image: url("../../images/Bg3.png");
        // background-repeat: no-repeat;
        // background-size: cover;
        // position: relative;
        width: 100%;
        margin-bottom: 86px;
        position: relative;
        .bg-img {
            width: 100%;
            height: 100%;
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
        h1 {
            color: var(--foundation-logo-shades-logo-shades-100, #ece4d1);
            text-align: center;
            max-width: 287px;
            width: 100%;
            margin: auto;
            /* EN-Display Medium */

            font-family: Satoshi;
            font-size: 45px;
            font-style: normal;
            font-weight: 500;
            line-height: 52px; /* 115.556% */
            border: 1px solid var(--foundation-logo-shades-logo-shades-600, #b09860);
            padding: 25px 30px;
        }
        .sm-scr {
            display: none;
        }
        .intro-in {
            width: 100%;
            padding: 276px 157px 200px;
            position: relative;
            z-index: 100;
        }

        .image {
            bottom: -48px;
            position: absolute;
            width: 100%;
            height: 89px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .event-desc {
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        padding: 25px 160px 43px;
        .desc-left {
            width: 49%;
            h2 {
                color: var(--foundation-logo-shades-logo-shades-700, #89774b);
                text-align: start;
                /* EN-Display Medium */
                font-family: Satoshi;
                font-size: 45px;
                font-style: normal;
                font-weight: 500;
                margin-bottom: 30px;
                line-height: 52px; /* 115.556% */
            }
            p {
                color: var(--foundation-logo-shades-logo-shades-700, #89774b);
                text-align: start;
                /* EN-Headline Small */
                font-family: Satoshi;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 133.333% */
            }
        }

        .desc-right {
            width: 49%;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .desc-imgs {
            display: flex;
            justify-content: center;
            gap: 32px;

            img {
                height: 390px;
                width: 48.5%;
            }
        }
    }
}

@media (max-width: 786px) {
    .about {
        .intro {
            margin-bottom: 40px;
            .intro-in {
                padding: 276px 57px 200px;
            }
        }

        .event-desc {
            flex-direction: column-reverse;
            padding: 70px 80px 12px;
            .desc-left,
            .desc-right {
                width: 100%;
            }
            .desc-right {
                display: flex;
                justify-content: center;
                gap: 16px;
                align-items: center;
            }
            img {
                width: 100%;
                max-width: 400px;
                height: 147px !important;
            }
            .img-left {
                display: block !important;
                max-width: 150px;
            }
        }
        .about-desc{
            flex-direction: row;
        }
    }
}

@media (max-width: 430px) {
    .about {
        .intro {
            height: 400px;

            .bg-scr {
                display: none;
            }
            .sm-scr {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 121px;
                padding: 12px 26px;
                color: var(--foundation-logo-shades-logo-shades-100, #ece4d1);
                text-align: center;
                /*EN-HeadlineSmall*/
                font-family: Satoshi;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                /*133.333%*/
                -moz-transform: translate(-50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
            }
            .image {
                height: 70px;
                bottom: -38px;
            }
        }
        .event-desc {
            padding: 40px 16px;

            .desc-left {
                h2 {
                    color: var(--foundation-logo-shades-logo-shades-700, #89774b);

                    /* EN-Title Large */
                    font-family: Satoshi;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px; /* 127.273% */
                }
                p {
                    color: var(--foundation-logo-shades-logo-shades-700, #89774b);

                    /* EN-Label Medium */
                    font-family: Satoshi;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px; /* 133.333% */
                    letter-spacing: 0.5px;
                }
            }

            .img-left {
                max-width: 87px;
            }
        }
    }
}
