.room-detial {
    margin-bottom: 150px;
    .intro {
        width: 100%;
        margin-bottom: 104px;
        position: relative;
        .bg-img {
            width: 100%;
            height: 100%;
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
        h1 {
            color: var(--foundation-logo-shades-logo-shades-100, #ece4d1);
            text-align: center;
            max-width: 588px;
            width: 100%;
            margin: auto;
            /* EN-Display Medium */
            //font-family: Satoshi;
            font-size: 45px;
            font-style: normal;
            font-weight: 500;
            line-height: 52px; /* 115.556% */
            border: 1px solid var(--foundation-logo-shades-logo-shades-600, #b09860);
            padding: 25px 30px;
        }
        .sm-scr {
            display: none;
        }
        .intro-in {
            width: 100%;
            padding: 276px 157px 200px;
            position: relative;
            z-index: 100;
        }

        .image {
            bottom: -48px;
            position: absolute;
            width: 100%;
            height: 89px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .single-room {
        padding: 216px 100px;
        background-image: url("../../images/discover-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .inner {
            display: flex;
            justify-content: space-around;
            gap: 20px;
            .left,
            .right {
                width: 49%;
                max-width: 544px;
                position: relative;
            }
            .clanedr-value span {
                
    color: var(--foundation-logo-shades-logo-shades-300, #d5c49b);
    background-color: rgba(0,0,0,0);
    //font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .1px;
    svg{
        font-size: 20px;
    }
            }
            .left {
                .mySwiper2 {
                    width: 100%;
                    height: 416px;
                    .swiper-button-next:after, .swiper-button-prev:after{
                        color:#FFF;
                    }
                    .swiper-slide{
                        height: 100%;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        &:hover{
                            cursor: pointer;
                            width: 98%;
                            height: 98%;
                        }
                    }
                    
                }
                .main-swip {
                    position: relative;

                    .ChevronRight {
                        right: -14px;
                        position: absolute;
                        top: 50%;
                        background-color: transparent;
                        position: absolute;
                        z-index: 1000;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                    }
                    .ChevronLeft {
                        left: -14px;
                        position: absolute;
                        top: 50%;
                        background-color: transparent;
                        position: absolute;
                        z-index: 1000;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                    }
                    .ChevronRight svg,
                    .ChevronLeft svg {
                        font-size: 4rem;
                        color: #000;
                    }
                }
                .mySwiper {
                    width: 401px;
                    overflow: hidden;
margin-top: 60px;
                    .swiper-button-next,
                    .swiper-button-prev {
                        overflow: hidden;
                        height: 0;
                    }
                    .swiper-slide {
                        padding-left: 17px;
                        img {
                            width: 192px !important;
                            height: 120px;
                        }
                    }
                }
            }
        }
    }

    .intro-contan {
        padding: 78px 103px;
        border: 2px solid var(--foundation-logo-shades-logo-shades-600, #b09860);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h1 {
            color: var(--foundation-logo-shades-logo-shades-600, #b09860);

            /* EN-Headline Medium */
            //font-family: Satoshi;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px; /* 128.571% */
            margin-bottom: 30px;
        }
        .box-container {
            display: flex;
           
    justify-content: space-evenly;
    .clanedr-value span{
        font-size: 18px !important;
    }
            align-items: center;
            flex-wrap: wrap;
            gap: 46px 0;
            .box {
                margin: 0 15px;
                display: flex;
                flex-direction: column-reverse;
                gap: 10px;
                .custom-select {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    select {
                        color: var(--foundation-logo-shades-logo-shades-300, #d5c49b);
background-color: transparent;
                        /* EN-Title Small */
                        //font-family: Satoshi;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; /* 142.857% */
                        letter-spacing: 0.1px;
                        option {
                            background-color: #fff;
                            color: var(--foundation-logo-shades-logo-shades-300, #d5c49b);

                            /* EN-Title Small */
                            //font-family: Satoshi;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 142.857% */
                            letter-spacing: 0.1px;
                        }
                    }
                }

                .input-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 22px;
                    width: 137px;
                    height: 32px;
                    #decrement,
                    #increment {
                        color: #fff;
                        background-color: transparent;
                        color: var(--foundation-brown-white, #fff);

                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px; /* 133.333% */
                        padding: 0px 3.125px;
                    }
                    input {
                        width: 80px;
                        height: 100%;
                        background-color: transparent;
                        text-align: center;
                        color: #fff;
                        color: var(--foundation-brown-white, #fff);

                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px; /* 133.333% */
                    }
                }

                p {
                    color: var(--foundation-brown-white, #fff);
                    text-align: center;
                    margin-top: 8px;
                    /* EN-Headline Small */
                    //font-family: Satoshi;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px; /* 133.333% */
                }
            }
        }
        .btn-1 { svg{
            margin:0 0 0 3px;
        }
        cursor: pointer;
        align-items: center;
        display: flex;
        justify-content: center;
            width: 100%;
            background: var(--foundation-logo-shades-logo-shades-500, #c1a76a);
            max-width: 328px;
            padding: 16px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: #fff;
            margin-top: 44px;
        }
    }




    .descripe{
        margin-top: 50px;
        .main-inner{
            display: flex;
            justify-content: center;
            gap: 38px;
            align-items: start;
            padding: 0 178px;
            .left,.right{
                width: 49%;
            }
        }
        h3{
            margin-bottom: 22px;
            text-align: left;
            span{
                color: var(--foundation-logo-shades-logo-shades-600, #B09860);
margin-left: 14px;
/* EN-Title Large */
//font-family: Satoshi;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 127.273% */
text-align: left;
            }
            .end-logo{
                margin: 0;
                color: var(--foundation-logo-shades-logo-shades-600, #B09860);
text-align: left;
/* EN-Display Small */
//font-family: Satoshi;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 44px; /* 122.222% */
            }
        }
        .box{
            
    flex-direction: column;
    display: flex;
    
    margin-bottom: 42px;
        }
        h6{
            color: var(--foundation-logo-shades-logo-shades-300, #D5C49B);
text-align: left;
            /* EN-Body Medium */
            //font-family: Satoshi;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
            letter-spacing: 0.25px;
            margin-bottom: 8px;
            width: 50%;
        }
    }
   
}
.room-detial .intro-contan .box-container .box p {
    color: var(--foundation-logo-shades-logo-shades-300, #D5C49B);

/* EN-Title Small */
//font-family: Satoshi;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.1px;
}
.room-detial .single-room .inner .clanedr-value span {
    color: var(--foundation-logo-shades-logo-shades-300, #D5C49B);

    /* EN-Title Large */
    //font-family: Satoshi;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;



}
@media (max-width: 1100px) {
    .room-detial{
        .descripe h6{
            width: 70%;
        }
    }
}

@media (max-width: 1189px) {
    .intro .intro-contan .box-container .box {
        .custom-select select {
            font-size: 18px;
        }
        .input-wrapper {
            #increment,
            #decrement {
                font-size: 18px;
            }
            input {
                font-size: 18px;
            }
        }
        p {
            font-size: 18px;
        }
    }
    .room-detial {
         
        .single-room {
            padding: 160px 10px;
        }
    }
}
@media(max-width:1024px){
    
        .room-detial .intro-contan {
            padding: 78px 50px !important;
    
}}



@media (max-width: 850px) {
    .room-detial .single-room .inner .left .mySwiper .swiper-slide img {
        width: 150px !important;
        height: 94px;
    }
    .room-detial .single-room .inner .left .mySwiper {
        width: 301px;
        overflow: hidden;
    }
    .single-room {
        .intro-contan {
            padding: 15px;

            .box-container {
             flex-wrap: nowrap;
                justify-content: center;
                flex-direction: column;
                .box {
                    width: 100% ;
                    margin: 15px;
                    align-items: center;
                }
            }
        }
    }
}
@media (max-width: 786px) {
    .single-room .intro-contan {
        background-color: #fff;
       
    }
    .room-detial .descripe .main-inner {
        flex-direction: column;
        padding: 0 30px;
        gap: 0;
        align-items: center;
        .left,.right{
            width: 90%;
        }
    }
    .room-detial .single-room .inner {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 42px;
        flex-direction: column;
    }
    .room-detial .single-room .inner .left,
    .room-detial .single-room .inner .right {
        width: 100%;
        max-width: 544px;
        position: relative;
    }
    .room-detial .single-room {
        padding: 30px 10px;
    }
    .room-detial .single-room .inner .left .mySwiper2 {
        width: 100%;
        height: 398px;
    }
    .room-detial {
        .intro {
            margin-bottom: 40px;
            .intro-in {
                padding: 200px 57px 200px;
               
                    h1{
                        padding: 8px 10px;
                        width: 200px;
                    
                }
            }
        }
    }
    .room-detial .descripe h6 {
        width: 100%;
    }
    .room-detial .single-room .inner .left .mySwiper {
        width: 325px;
        .swiper-slide img {
            width: 166px !important;
            height: 120px;
        }
    
    }
}

@media (max-width: 430px) {
    .room-detial {
        .intro {
            height: 350px;
            .intro-in {
                padding: 156px 57px 200px;
            }
            .bg-scr {
                display: none;
            }
            .sm-scr {
                display: block;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 171px;
                padding: 12px 26px;
                color: var(--foundation-logo-shades-logo-shades-100, #ece4d1);
                text-align: center;
                /*EN-HeadlineSmall*/
                //font-family: Satoshi;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                /*133.333%*/
                -moz-transform: translate(-50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
            }
            .image {
                height: 70px;
                bottom: -38px;
            }
        }
    }
}

@media (max-width: 430px) {
    .room-detial .single-room .inner .left .mySwiper2 {
        width: 100%;
        height: 260px;
    }
}
