.navbar {
    padding: 1rem;
    position: absolute;
    width: 100%;
    z-index: 1000;
    .nav-contan {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .middle {
        margin: auto;
    }
    .left,
    .right {
        width: 100%;
        display: flex;
        max-width: 650px;
        justify-content: center;
        li {
            margin: 15px;
        }
        a {
            color: var(--foundation-logo-shades-logo-shades-200, #e2d7ba);

            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            letter-spacing: 0.15px;
        }
    }
    .sm-navbar {
        display: none;
    }
}

.footer {
    margin-top: 150px;
    padding: 30px 100px;
    background-color: var(--foundation-brown-normal, #f9f6f0);
    text-align: center;

    .my-p {
        text-align: center;
        margin-top: 32px;
        color: #b09860;

        &:nth-child(3) {
            margin-top: 10px;
        }
    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 32px;
        svg {
            font-size: 3.5rem;
        }
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 32px;
        a {
            color: var(--foundation-logo-shades-logo-shades-300, #d5c49b);
            text-align: center;

            /* EN-Label Large */
            font-family: Satoshi;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 142.857% */
            letter-spacing: 0.1px;
        }
    }
}

@media (max-width: 568px) {
    .navbar {
        .logo {
            svg {
                width: 40px;
            }
        }
        .right {
            a {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 530px) {
    .footer {
        padding: 40px 20px;
        ul {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 430px) {
    .navbar {
        padding: 0;
        .sm-navbar {
            background: var(--foundation-logo-shades-logo-shades-200, #e2d7ba);
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px 0;
            height: 60px;
            .logo svg {
                margin-right: 21px;
                width: 54px;
                height: 44px;
            }
            h4 {
                svg {
                    width: 27.431px;
                    height: 27px;
                    color: #b09860;
                }
            }
        }
        .noneHight {
            display: none;
        }

        .animate {
            display: flex;
            flex-direction: column;
            border: none;
            background: var(--foundation-logo-shades-logo-shades-200, #e2d7ba);
            .middle {
                display: none;
            }

            ul {
                flex-direction: column;
                align-items: center;

                li {
                    text-align: center;
                    color: var(--foundation-logo-shades-logo-shades-700, #89774b);
                    width: 100%;
                    padding: 8px;
                    margin: 5px;
                    a {
                        color: var(--foundation-logo-shades-logo-shades-700, #89774b);
                        width: 100%;
                        /* EN-Body Large */
                        font-family: Satoshi;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px; /* 150% */
                        letter-spacing: 0.5px;
                    }
                    &:hover {
                        background: var(--foundation-brown-normal-hover, #f1ecde);

                        a {
                            color: var(--foundation-logo-shades-logo-shades-700, #89774b);
                        }
                    }
                }
            }
        }
    }
    .footer{
        margin-top: 50px;
    }
}
