
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;

  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

$gold-dark     :#FFAE1B;
$black      :#2b2b2b;
$white      :#fff;
$gold       :gold;
$light-color:#858584;
$light-bg   :#eee;
$border     :.2rem solid $black;
$box-shadow :.5rem 1rem rgba(0, 0, 0, .1);

@mixin grid($val) {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap                  : 2rem;
}

section {
  padding: 3rem 9%;
}
ul{
  list-style: none;
}

.my-grid{
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap                  : 2rem;
}
.my-row{
  display: flex;
  align-items: center;

}

.my-column{
  display: flex;
  flex-direction: column;
}
html {
  overflow-x: hidden;
  font-size : 62.5%;


  &::-webkit-scrollbar {
      width: 1rem;
  }

  &::-webkit-scrollbar-track {
      background-color: $light-bg;
  }

  &::-webkit-scrollbar-thumb {
      background-color: $gold-dark;
      border-radius   : 5rem;
  }

}
a{
  list-style: none;
  color: $light-bg;
}
@keyframes fadeIn {
  0% {
      transform: scale(.5);
      opacity  : 0;
  }
}

.my-btn {
  margin               : 1rem;
  display              : inline-block;
  padding              : 0px 30px;
  border-radius        : 20px;
  font-size            : 1.7rem;
  color                : $white;
  cursor               : pointer;
  text-decoration      : none;
  background-color     : $gold-dark;
  -webkit-border-radius: 20px;
  -moz-border-radius   : 20px;
  -ms-border-radius    : 20px;
  display              : flex;
  justify-content      : center;
  align-items          : center;
  -o-border-radius     : 20px;
  height               : 60px;
  width                : auto;

  &:hover {
      height               : 50px;
      padding              : 0 25px;
      font-size            : 1.3rem;
      border-radius        : 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius   : 15px;
      -ms-border-radius    : 15px;
      -o-border-radius     : 15px;
  }

}

.my-btn2{
  height: 60px;
  border-radius: 20px;
  padding: 22px 50px 22px 50px;
  
  cursor               : pointer;
  text-decoration      : none;
  background-color     :  rgba(255, 255, 255, 1);
  -webkit-border-radius: 20px;
  -moz-border-radius   : 20px;
  -ms-border-radius    : 20px;
  display              : flex;
  justify-content      : center;
  align-items          : center;
  -o-border-radius     : 20px;
  height               : 60px;
  width                : auto;
  color: rgba(43, 43, 43, 1);
  //font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  
  &:hover {
             padding: 15px 40px 15px 40px;
      font-size            : 14px;
      border-radius        : 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius   : 15px;
      -ms-border-radius    : 15px;
      -o-border-radius     : 15px;
  }


}


.my-btn a{
  
  display: flex;
  align-items: center;
}
h1 {
  color: #000;
  text-align: right;
  
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h2{
  color: #000;
  text-align: right;

 
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}


h3 {color: #000;
  text-align: right;
  
 
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  
}

h4 {color: #000;
  text-align: right;
 
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  
}

h5 {color: #000;
  text-align: right;
  
 
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}




.my-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  

}

.allStyles {
  background-color: $black;
  color           : $white;



}
.my-p2{//styleName: Caption - Space Mono;
  //font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  

}



@media (max-width:834px) {
  h1 {
    color: #000;
  text-align: right;

 
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  }


h2{color: #000;
  text-align: right;
  
 
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  
}



  .my-p {
      //styleName: Base(Body) - Work Sans;
      //font-family   : Work Sans;
      font-size     : 14px;
      font-weight   : 400;
      line-height   : 18px;
      letter-spacing: 0em;
      text-align    : left;

  }
  .my-p2 {


      //font-family: Work Sans;
font-size: 11px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: center;

  }
  h3 {
    color: #000;
    text-align: right;
   
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  h4 {color: #000;
    text-align: right;
    
   
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
      
  }

  h5 {
    color: #000;
    text-align: right;
    
   
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}



@media(max-width:600px){
h1{  color: #000;
  text-align: right;
  
 
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}
h2{
  color: #000;
  text-align: right;
 
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
h3{
  color: #000;
  text-align: right;
  
 
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;


}
h4{   //font-family: Space Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}

h5{
  color: #000;
    text-align: right;
    
   
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.my-p{
  //styleName: Base(Body) - Work Sans;
//font-family: Work Sans;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}
.my-p2{
  .my-p2 {


      //font-family: Work Sans;
font-size: 10px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: center;

  }
}

}





@media(max-width:600px){

  h1{
    font-size: 32px;
  }
  h2{
    font-size: 28px;
  }
}




